<div>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th><p class="text-right"><a href="" ng-click="sortOrder='month'; reverse=!reverse">Month</a></p></th>
            <th><p class="text-right"><a href="" ng-click="sortOrder='footies'; reverse=!reverse">Footies</a></p></th>
            <th><p class="text-right"><a href="" ng-click="sortOrder='miles'; reverse=!reverse">Miles</a></p></th>
            <th><p class="text-right"><a href="" ng-click="sortOrder='elapsed_time'; reverse=!reverse">Elapsed Time</a></p></th>
            <th><p class="text-right"><a href="" ng-click="sortOrder='moving_time'; reverse=!reverse">Moving Time</a></p></th>
        </tr>
        <tr ng-repeat="monthlyTotal in monthlyTotals | orderBy:sortOrder:reverse">
            <td><p class="text-right">{{monthlyTotal.month}}</p></td> 
            <td><p class="text-right">{{monthlyTotal.footies | number:0}}</p></td>
            <td><p class="text-right">{{monthlyTotal.miles| number:2}}</p></td>
            <td><p class="text-right">{{monthlyTotal.elapsed_time_display}}</p></td>
            <td><p class="text-right">{{monthlyTotal.moving_time_display}}</p></td>
        </tr>
    </table>
</div>